body {
    font-family: 'Montserrat', sans-serif;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid darkcyan
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}
