:root {
    --night: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --cornell-red: #a4161aff;
    --cornell-red-2: #ba181bff;
    --imperial-red: #e5383bff;
    --silver: #b1a7a6ff;
    --timberwolf: #d3d3d3ff;
    --white-smoke: #f5f3f4ff;
    --white: #ffffffff;
}

@font-face {
    font-family: 'rocket';
    font-weight: 900;
    src: local('rocket'), url(./fonts/rocket.ttf) format('truetype');
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body {
    background-color: var(--eerie-black);
}

