@font-face {
	font-family: "Montserrat";
	font-weight: 400;
	src: local("Montserrat"),
		url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: bold;
	src: local("Montserrat"),
		url(./fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 800;
	src: local("Montserrat"),
		url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-weight: 600;
	src: local("Montserrat"),
		url(./fonts/Montserrat-Medium.ttf) format("truetype");
}

* {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	transition: 0.5s all;
}

html,
body {
	background-color: #eee;
	overflow-x: hidden;
}
